@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');


html{   
    scroll-behavior: smooth;
}
*{
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  
body{
     background-color: #f4f4f4;
     margin: 0;
}
  
.wrapper{
    display: flex;
    position: relative;
    margin-left: 150px;
}
#success-msg{
    text-align: center;
    display: inline-flex;
    visibility: hidden;
    align-items: center;
    align-content: center;
    gap: 15px;
    padding-top: 15px;
}
.container #success-msg{
    text-align: center;
}
.check{
    width: 20px;
    height: 20px;
    background-color: #008b0085;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    width: 150px;
    height: 100%;
    color: #fff;
    background-color: #152b59c4;
    position: fixed;
    top:0px;
    left: 0px;
}
.sidebar a{
    display: grid;
    color: white;
    padding: 16px;
    text-decoration: none;
    line-height: 3;
    text-align: center;
    cursor: pointer;
    justify-items: center;
    text-align:center;

}

.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}
  
 .sidebar  a .fa-solid, .sidebar a .fa {
    padding-top: 20px;
    display: block;
    color:#A67607
}
 .sidebar a:hover{
    opacity: 0.7;
    background-color: #f4f4f4;
    color: #000;
}
.texto{
    font-size: 49pt;
    padding: 80px;
    text-align: center;
    line-height: 1.5;
    font-family: 'Istok Web', sans-serif;
}    
.subtitulos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder ;
    width: fit-content;
    border-bottom: 2px solid #a1a1a1;
    padding-bottom: 9px;
}  
.active{
    background-color: #000000;
}
.wrapper .main_content{
    width: auto;
    position: relative;
    top:0px
}
  
.wrapper .main_content .titulo .cabecalho{
    width: auto;
}
  
.wrapper .main_content .info{
    color: #000000;
}
.corSobre, #publicacoes{
    background-color: #e7e7e7;
}

.blink_me {
    color: rgb(0, 0, 0);
    animation: background2 30s ease-out infinite;
    opacity: 0.85;
    
}
.blink_me i{
    color: rgb(0, 0, 0)!important;
    animation: blinker 7s ease-out infinite;
    background: transparent;
}
  
@keyframes background2 {

    7% {background-color: #e6354e;}
    14% {background-color: #eb4650;}
    21% {background-color: #f2683a;}
    28% {background-color: #faa842;}
    35% {background-color: #c2367a;}
    42% {background-color: #974180;}
    49% {background-color: #502a64;}
    56% {background-color: #362b69;}
    63% {background-color: #0db0d1;}
    70% {background-color: #3b94cc;}
    77% {background-color: #3167a4;}
    84% {background-color: #2b4686;}
    91% {background-color: #069f9e;}
    100% {background-color: #5aad6e;}
    }


.borda{
    border-bottom: 2px solid #000;
}

.b25{
    width: 25%;
}

.b15{
    width: 15%;
}
.b10{
    width: 10%;
}
#curiosidades, #sobre, #Contacto{
    color: #000;
}
#shiva{
    width: 100px;
    height: 100px;
    background: transparent;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin:5px;
    text-align: center;
}
.count{
    line-height: 100px;
    color:#000;
    font-size:25px;
}
.number-item{
    width: 50%;
    height: auto;
    background: transparent;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin:5px;
    text-align: center;
}
.contar{
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.populacao{
    justify-content: center;
    align-items: center;
    text-align:center;
}
.populacao h1{
    font-size: 18pt;
    display: inline-flex;
    display: inline;

}
.imagemfundo{
    position: relative;
    right: 0px;
    z-index: 0;
    color: #000;
    width: 100%;
}
.imagemfundo img{
    width: 100%;
    height: 100%;
}
.titulo{
    display: block;
    height: auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}
  
.container {
    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
}
.cabecalho img{
    width: 100px;
    height: 50px;
}
.dados{
    float: right;
}
.experiencia{
    width: 100%;
    display: inline-flex;
    align-items: center;
}
.opacity{
    opacity: 0.6;
}
.posicaoContacto{
    padding-top: 20px;
}
.main_content .info .projeto{
    padding:15px 5px 15px 20px
}

.sobreProjeto, .divulgacoes{
    font-size: 16pt;
    padding-bottom: 20px;
    text-align: justify;
}
.sobreProjeto ul li{
    font-weight: 500;
    color: rgb(81, 81, 81);
    padding-top: 1px;
}
.divulgacoes{
    text-align: center;
    font-style: italic;
}
.evolucao{
    padding-top:20px;
    font-size: 12pt;
    font-weight: bolder;
    color: whitesmoke;
}
.footer{
    font-size: 17pt;
    color: white;
    position: relative;
    height: 140px;
    text-align: center;
    width: auto;
    background-color: #585858;
    z-index: 5000;
    margin: 0;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center
}
.logotipo{
    text-align: center;
    background: #e5e1d6 /*#ababab*/;
}

.circle{
    counter-reset: list-counter;
    list-style: none;
}   

.circle li:before{
    content: counter(list-counter);
    counter-increment: list-counter;
    width: 1em;
    height: 1em;
    padding: .5em;
    margin-right: 1em;
    border-radius: 50%;
    border: .25em solid #ccc;
    background: #152b59cc;
    color: #fff;
    text-align: center;
    display: inline-block;
    line-height: 1;
    
}
h3{
    display: inline-flex;
}
.direitosReservados{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


   
  
  @media screen and (max-width: 500px) {
    .sidebar {
        width: 500px;
        height: auto;
        position: relative;
    }
    .wrapper{
        margin-left: 0px;
    }
    .wrapper .main_content{
        width: 500px;

    }
    .texto{
        font-size: 26pt;
    }
    #curiosidades{
        width: 500px;
    }
    .contar{
        display: block;
    }
    footer{
        width: 500px;
        margin-left: 0px;

    }
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
   background: rgba(92, 92, 92, 0.2); 
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.5)

}

